<div class="my_routine">
  <%= link_to my_routine.routine_name, my_routine_path(my_routine.id), class: "my_routine__name" %>
</div> 
<div class="my_routine__body">
  <%= link_to "実行した", my_routine_routine_records_path(my_routine.id, current_user.id), method: :post, class: "my_routine__done"%>
  <p class="routine__count">
    総回数  <%= my_routine.routine_records.count %>回
  </p>
</div>