<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
</div>

<div class="my_routines">
  <div class="my_routine">
    <div class="my_routine-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="my_routine">
    <div class="my_routine-name">
      <a href="#">techroom2</a>
    </div>
  </div>

</div>