* {
  box-sizing: border-box;
}

.routine-header{
  height: 100px;
  width: calc(100vw - 300px);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #7acbe1;
}

.left-header-title {
  color: #333;
  font-size: 24px;
}
.nav__title{
  text-decoration: none;
  color: #333;
}
.nav__right {
  display: inline-block;
}
.nav__btn {
  text-decoration: none;
  background-color: #3b82c4;
  color: #ffffff;
  padding: 20px;
  user-select: none;
  display: inline-block;
  border: 1px #3b82c4 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.nav__btn:hover {
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
cursor: pointer;
}
