/* routine index */
.wrapper {
  display: flex;
}
.side-bar {
  background-color: #7acbe1;
  width: 300px;
  height: 100vh;
}
.maim_routine {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  height: 100vh;
}

/* side_bar_header */
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #193278;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}
.lists-nav {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.user-nickname {
  margin-right: 3vw;
  font-weight: bold;
  color: #FAFAFA;
  text-decoration: none;
}
.logout {
  color: #FAFAFA;
  text-decoration: none;
}
.login {
  line-height: 32px;
  margin-right: 3vw;
  color: #FAFAFA;
  text-decoration: none;
}
.sign-up {
  color: #FAFAFA;
  text-decoration: none;
}

/* side_bar_main */
.my_routines {
  background-color: #97cdf3;
  height: calc(100vh - 100px);
  width: 300px;
  padding: 20px 20px;
  overflow: scroll;
}
.my_routine {
  width: 300px;
}
.my_routine__body{
  width: 250px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.my_routine__name {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
.my_routine__done {
  padding: 3px 5px;
  font-size: 16px;
  background-color: #3b82c4;
  text-decoration: none;
  color: #FFFFFF;
  user-select: none;
  display: inline-block;
  border: 1px #3b82c4 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.my_routine__done:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.my_routine__count {
  font-size: 16px;
}

/* mein */
.routines {
  background-color: #FAFAFA;
  height: calc(100vh - 100px);
  padding: 20px 40px 20px;
}
.routine {
  margin-bottom: 20px;
}
.routine__body{
  background-color: #eaf6fd;
  padding: 5px 10px;
}
.routine__title {
  list-style-type: square;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 8px;
  color: #000000;
}
.routine__bottom{
  display: flex;
}
.routine__user {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
  margin-right: 16px;
}
.routine__continued_time {
  font-size: 16px;
}
.routine__introduction {
  font-size: 16px;
}
.routine__result {
  font-size: 16px;
}


/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* show */
.my_routine__wrapper{
  min-height: calc(100vh - 161px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my_routine__lists{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.my_routine__detail_body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my_routine__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.my_routine__btn{
  display: inline-block;
  margin: 20px 10px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.my_routine__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}